@using ReportViewerForMvc;

@{
    ViewBag.Title = "ALRS Export Data";
}


<h2>ALRS Export Data</h2>

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

