@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">ALRS - Error in application</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Please contact the administrator for further assistance.</h2>

